
.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    background-color: var(--color-text);
    border-bottom: 1px solid var(--color-primary);
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.nav a {
    font-weight: 700;
    font-size: 1.2rem;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.hero img{
    width: 100%;
}

.hero-message {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 5px 20px;
    border-radius: 12px;
    margin: 10px;
    box-shadow: var(--shadow);
}

.hero-message.title {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--color-text);
    animation: slideIn 1.8s ease-out forwards;
    animation-delay: 1.5s;
    width: 100%;
}

.hero-message.text {
    color: var(--color-text);
    font-style: italic;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    animation: slideIn 2.0s ease-out forwards;
    animation-delay: 2.5s;
    width: 90%;
}

.hero-message.button {
    color: var(--color-text);
    font-family: var(--font-heading);
    background-color: white;
    font-weight: 700;
    box-shadow: var(--shadow);
    border-color: var(--color-primary);
    animation: slideIn 2.2s ease-out forwards;
    animation-delay: 3.5s;
}

.hero-message.button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.hero-message.title, .hero-message.text, .hero-message.button, span {
    display: inline-block;
    transform: translateY(100%);
    visibility: hidden;
}

.projects p {
    text-align: center;
}

.individual-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: var(--shadow);
}

.card:hover{
    opacity: .9;
    border: 3px solid var(--color-primary);
    transition: border .6s ease-in;
}

.projects a {
    font-weight: 600;
    color: var(--color-primary);
}

.project1 {
    background-image: url(../img/blue-purpose-logo.png);

}

.project2 {
    background-image: url(../img/logo1.png);
}

.project3 {
    background-image: url(../img/customcolor_logo_transparent_background.png);
}

.project4 {
    background-image: url(../img/condes-connections-high-resolution-logo-transparent.png);
}


.service-card {
    min-width: 100%;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: var(--shadow);
    border: 1px solid var(--color-secondary);
    margin-right: 2px;
}

.service-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    font-family: var(--font-heading);
    color: var(--color-primary);

}

.service-card p {
    font-size: 0.9rem;
    color: var(--color-text);
}

.service-card i {
    color: var(--color-text);
}

.contact form {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 10px;
    align-items: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        visibility: visible;
        transform: translateY(100%);
    }
    to {
        visibility: visible;
        transform: translateY(0);
    }
}