@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-primary:rgb(227, 104, 54);
    --color-secondary: rgb(44, 180, 193);
    --color-text: rgb(69, 74, 88);
    --font-heading: "Raleway", Arial, sans-serif;
    --font-body: "Lato", Arial, sans-serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: whitesmoke;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: var(--font-body);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: var(--color-secondary);
}

a:active {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-secondary);
}

p {
    color: var(--color-text);
    font-size: 1.1rem;
}

ul, li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: underline var(--color-secondary);

}

.container {
    width: 55%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow)
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    background-color: var(--color-text);
    border-bottom: 1px solid var(--color-primary);
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.nav a {
    font-weight: 700;
    font-size: 1.2rem;
}
.fade-in {
    opacity: 0;
    transform: translateY(70px);
    animation: fadeIn 2.2s ease-out forwards;
}

.spacer {
    width: 100%;
    background-color: lightcyan;
    margin: 70px 0;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden:hover{
    cursor: pointer;
}

.fade-background {
    background-color: rgba(255, 255, 255, 0.823);
    background-blend-mode: overlay;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }

.modal-content form {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 10px;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
  }

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 20px;
}

.services.center-text {
    text-align: center;
    font-size: 1.3rem;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-text);
    border-top: 1px solid var(--color-primary);
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: right;
}

footer a {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 960px) {
    .container {
        width: 90%;
    }
}